.header {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.header-3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.span {
    color: orange;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex {
    display: flex;
    margin-bottom: 150px;
}

.section-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.section-2 {
    background-image: url(images/dream-big.png);
    background-repeat: no-repeat;
    background-position: right;
}

.section-3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.half-width {
    width: 50%;
    padding: 1%;
}

.half-width img {
    width: 80%;
    border-radius: 30px;
}

.button {
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.paragraph {
    text-align: left;
}

.shadow {
    box-shadow: 10px 10px 20px grey;
    margin-left: 3%;
    margin-right: 3%;
    padding: 30px;
    border-radius: 15px;
}

#stack {
    border-left: 10px solid tomato;
}

#web {
    border-left: 10px solid blueviolet;
}

.footer-allign {
    text-align: center;
}